<!DOCTYPE html>
<html lang="en">
  <%-include ('head')%>
  <body>
    <%- include ('navbar')%>
    <main class="container mt-4">
      <section class="mb-4">
        <h3>El proceso es: <%= process.pid%></h3>
      </section>
      <div class="row d-flex justify-content-center">
        <div class="col-md-6">
          <h4><strong>Argumentos de entrada:</strong></h4>
          <h4><strong>Sistema Operativo:</strong></h4>
          <h4><strong>Version de NodeJs:</strong></h4>
          <h4><strong>Memoria total reservada:</strong></h4>
          <h4><strong>Path de ejecucion:</strong></h4>
          <h4><strong>Process Id:</strong></h4>
          <h4><strong>Carpeta del proyecto:</strong></h4>
        </div>

        <div class="col-md-6">
          <p><%= process.argv.slice(2) %></p>
          <p><%= process.platform %></p>
          <p><%= process.version %></p>
          <p><%= process.memoryUsage() %></p>
          <p><%= process.execPath %></p>
          <p><%= process.pid %></p>
          <p><%= process.cwd() %></p>
        </div>
      </div>
    </main>
  </body>
</html>
